.multiStepForm {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0px;
  align-items: center;
  flex-grow: 1;
  background-color: #1d1129;
  color: white;
}
.multiStepForm > a {
  margin-bottom: 20px;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonContainer > button:not(:last-child) {
  margin-right: 30px;
}
.form__title {
  margin: 20px 0px;
  margin-top: 0px;
}
