@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.post {
  max-width: 600px;
  width: 100%;
  background-color: #30233d;
  border: 1px solid #291d35;
  border-radius: 4px;
  margin: 20px 0px;
  color: white;
}

.post__image {
  object-fit: contain;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__header > h3 {
  font-family: "Open Sans", sans-serif;
}

.post__avatar {
  margin-right: 10px;
}

.post__comments {
  padding: 0 20px 10px 20px;
}

.post__comments__title {
  font-weight: bold;
}
.post__comments__form {
  border: 1px solid lightgray;
  display: flex;
  border-radius: 5px;
  margin-bottom: 5px;
}

.post__comments__btn {
  flex: 0;
  background: #291d35 !important;
  color: white !important;
}
