.profile {
  width: 100%;
  display: flex;
}
.card {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.card__avatar {
  width: 100px !important;
  height: 100px !important;
}
.card__header {
  display: flex;
}
.card__headerAside {
  margin-left: 20px;
}
.card__info {
  display: inline-flex;
  margin: 10px 0px;
}
.card__age {
  margin-right: 20px;
}
