* {
  margin: 0;
}

.app__headerImage {
  object-fit: contain;
}

.app {
  background-color: #fafafa;
}

.app__header {
  padding: 20px;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.app_signUp {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__firstButton {
  margin-right: 10px !important;
}

.app__posts {
  display: flex;
  justify-content: center;
}
.app__postsLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.app__noposts {
  margin: 20px 0;
}
.header__routerLink {
  display: flex;
}
.app__loginContainer {
  display: flex;
}
.routerLink {
  display: inline-block;
  text-decoration: none;
  background-color: #303f9f;
  color: white;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.profileLink {
  text-decoration: none;
  margin: 0 10px;
}

@media (max-width: 900px) {
  .app__header {
    flex-direction: column;
    align-items: center;
  }
  .app__header__rightSidebar {
    margin-top: 10px;
  }
  .makeStyles-paper-1 {
    width: 80% !important;
  }
  .multiStepForm input {
    width: 70% !important;
  }
  .jss1 {
    width: 70% !important;
  }
}
